
.SearchCEP{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.SearchCEP input {
    width: 96%;
    height: 16%;
    
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-size:150%;
    color: rgb(0, 0, 0);

    background-color: #ff00;
    border: 0;
    border-bottom: 3px solid #2E2E2E;
}

.SearchCEP input::placeholder {
    font-size:130%;
    color: rgba(0, 0, 0, 0.469);
}

.consulta {
    box-sizing: border-box;
    width: 90%;
    height:50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 15px;
    background-color: #2491eb;
    /* box-shadow: 2px 3px 3px rgb(94, 94, 94); */

     padding-bottom:10px;
}

